<html>
    <head>
        <title>EAD XML CREATE</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>EAD XML CREATE</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('ead') }}">
                  <label for="series">SERIES</label>
                  <input type="text" name="series" /><br />
                  <label for="level">LEVEL</label>
                  <input type="text" name="level" /><br />
                  <label for="series">TITLE</label>
                  <input type="text" name="title" /><br />
                  <label for="dateExpression">Date Expression</label>
                  <input type="text" name="dateExpression" /><br />
                  <label for="dateBegin">Date Begin</label>
                  <input type="text" name="dateBegin" /><br />
                  <label for="dateEnd">Date End</label>
                  <input type="text" name="dateEnd" /><br />
                  <label for="dateBulkBegin">Date Bulk Begin</label>
                  <input type="text" name="dateBulkBegin" /><br />
                  <label for="dateBulkEnd">Date Bulk End</label>
                  <input type="text" name="dateBulkEnd" /><br />
                  <label for="containerLevel">Contailer Level 1</label>
                  <input type="text" name="containerLevel1" /><br />
                  <label for="instanceLevel1">Instance Level 1</label>
                  <input type="text" name="instanceLevel1" /><br />
                  <label for="InstanceLevel2">Instance Level 2</label>
                  <input type="text" name="instanceLevel2" /><br />
                  <label for="containerLevel2">Container Level 2</label>
                  <input type="text" name="containerLevel2" /><br />
                  <label for="instanceType">Instance Type</label>
                  <input type="text" name="instanceType" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
